.floating-buttons-wrapper {
  position: fixed;
  right: -118px;
  top: 60%;

  display: flex;
  gap: 8px;

  transform: translateY(-50%) rotate(-90deg);
  z-index: 9999;
}

/* Common button */
.floating-buttons-wrapper button {
  cursor: pointer;
  border: 1px solid var(--lpu-dark-gray);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 8px 15px;

  color: var(--lpu-dark-gray);
  background: var(--lpu-orange);

  white-space: nowrap;
}

/* Apply Now */
.apply-now-button {
  border-radius: 4px 4px 0 0;
}

/* Student Login */
.student-login-button {
  border-radius: 4px 4px 0 0;
}

.apply-now-button span {
  font-size: 0.9em;
}
